Password:[build]
  publish = "."
  command = ""

[build.processing]
  skip_processing = true

[build.processing.html]
  pretty_urls = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18.17.0"
